doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title google gmail support
        link(rel="stylesheet", href="css/styles.css")
        script(src="js/script.js")
    body
        nav
            h4
                a(href="#").title Read emails
            ul
                li: a(href="#").link Delete or recover deleted Gmail messages
                li: a(href="#").link.link--current Pring Gmail messages
                li: a(href="#").link Star emails in Gmail
